<!-- cta-section -->
<section class="cta-section">
    <div class="pattern-layer" style="background-image: url(images/shape/shape-3.png);"></div>
    <div class="auto-container">
        <div class="inner-container clearfix">
            <div class="title pull-left">
                <h2>即刻打开您企业中深藏的新金融与新科技潜能</h2>
            </div>
            <div class="btn-box pull-right">
                <a href="/contact">业务咨询</a>
            </div>
        </div>
    </div>
</section>
<!-- cta-section end -->

<!-- main-footer -->
<footer class="main-footer">
    <div class="footer-top">
        <div class="auto-container">
            <div class="widget-section">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget logo-widget">
                            <figure class="footer-logo"><a href="/"><img style="height:50px;" src="images/footer-logo.png" alt=""></a></figure>
                            <div class="text">
                                <p>对标打造国内一流、国际领先的数字化金融服务公司</p>
                            </div>
                            <ul class="info-list clearfix">
                                <li><i class="fas fa-map-marker-alt"></i>中国上海⾃由贸易试验区东育路255弄5号</li>
                                <li><i class="fas fa-envelope"></i>Email <a href="mailto:support@shen-top.com.cn">support@shen-top.com.cn</a></li>
                                <li><i class="fas fa-phone"></i>Support <a href="tel:0000-0000">+86 0000-0000</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget links-widget ml-70">
                            <div class="widget-title">
                                <h4>服务链接</h4>
                            </div>
                            <div class="widget-content">
                                <ul class="list clearfix">
                                  <li><a href="/services-odi">对外股权投资服务（ODI）</a></li>
                                  <li><a href="/services-vie">红筹/VIE结构</a></li>
                                  <li><a href="/services-crossborder">跨境通</a></li>
                                  <li><a href="/services-high-tech">高精特新服务</a></li>
                                  <li><a href="/services-fintech">科技金融</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- main-footer end -->
