<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>申征商务服务发展有限公司</title>

<!-- Fav Icon -->
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="css/font-awesome-all.css" rel="stylesheet">
<link href="css/flaticon.css" rel="stylesheet">
<link href="css/owl.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/jquery.fancybox.min.css" rel="stylesheet">
<link href="css/animate.css" rel="stylesheet">
<link href="css/color.css" rel="stylesheet">
<link href="css/rtl.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">
</head>

<!-- page wrapper -->
<body class="boxed_wrapper ltr">

    <!-- Preloader -->
    <div class="loader-wrap">
        <div class="preloader">
          <div class="preloader-close" style="opacity:0;">Preloader Close</div>
        </div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>
        <div class="layer layer-three"><span class="overlay"></span></div>
    </div>

    <%- include("./components/header.ejs") %>

    <!-- banner-section -->
    <section class="banner-section style-three">
        <div class="banner-carousel owl-theme owl-carousel owl-dots-none">
            <div class="slide-item">
                <div class="image-layer" style="background-image:url(images/index-shanghai.png)"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <h1>聚资聚力，跨境无忧</h1>
                        <p>推动金融产业深度融合，聚焦“专精特新”，打响“智慧商务”</p>
                        <div class="btn-box">
                            <a href="#" class="theme-btn style-three">继续阅读</a>
                            <a href="#" class="banner-btn">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-item">
                <div class="image-layer" style="background-image:url(images/index-technology.png)"></div>
                <div class="auto-container">
                    <div class="content-box centred">
                        <h1>紧抓数字经济大机遇</h1>
                        <p>致力于中小企业转型升级、市场拓展和数字智能化赋能</p>
                        <div class="btn-box">
                            <a href="#" class="theme-btn style-three">继续阅读</a>
                            <a href="#" class="banner-btn">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-item">
                <div class="image-layer" style="background-image:url(images/index-high-rise.png)"></div>
                <div class="auto-container">
                    <div class="content-box centred">
                        <h1>拓展创新金融新平台</h1>
                        <p>以普惠金融、贸易金融、科技金融、财富金融，赢得未来市场</p>
                        <div class="btn-box">
                            <a href="#" class="theme-btn style-three">继续阅读</a>
                            <a href="#" class="banner-btn">了解更多</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->


  <!-- chart-section -->
  <section class="chart-section bg-color-3">
      <div class="auto-container">
          <div class="row clearfix">
              <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                  <div id="content_block_eight">
                      <div class="content-box">
                          <div class="sec-title style-three left light">
                              <h5>概念化升级</h5>
                              <h2>用新金融助力企业腾飞</h2>
                          </div>
                          <div class="text">
                              <p style="color:white !important;">范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。</p>
                              <br/>
                              <p style="color:white !important;">范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。</p>
                          </div>
                          <!-- <div class="btn-box">
                              <a href="index-3.html">Take a Free Demo</a>
                          </div> -->
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 chart-column">
                  <figure class="chart-box"><img src="images/index-plane.png" alt=""></figure>
              </div>
          </div>
      </div>
  </section>
  <!-- chart-section end -->


  <!-- news-style-three -->
  <section class="news-style-three">
      <div class="pattern-layer" style="background-image: url(images/shape/shape-12.png);"></div>
      <div class="auto-container">
          <div class="upper-box">
              <div class="title-inner clearfix">
                  <div class="sec-title style-three left pull-left">
                      <h5>动视行情</h5>
                      <h2>最新案例详解</h2>
                  </div>
                  <div class="text pull-left">
                      <p>范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。</p>
                  </div>
              </div>
              <div class="btn-box"><a href="/cases" class="theme-btn style-three">更多案例<i class="fas fa-arrow-right"></i></a></div>
          </div>
          <div class="row clearfix">
              <div class="col-lg-6 col-md-6 col-sm-12 big-column">
                  <div class="left-block">
                      <div class="news-block-two wow fadeInUp animated animated" data-wow-delay="00ms">
                          <div class="inner-box">
                              <figure class="image-box"><img src="images/case-odi.png" alt=""></figure>
                              <div class="lower-content">
                                  <h3><a href="/cases">ODI助力高新企业统筹跨境供应链</a></h3>
                                  <div class="link"><a href="/cases"><i class="fas fa-arrow-right"></i><span>详情</span></a></div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 big-column">
                  <div class="right-block">
                      <div class="row clearfix">
                          <div class="col-lg-6 col-md-6 col-sm-12 news-block">
                              <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                                  <div class="inner-box">
                                      <figure class="image-box"><a href="/cases"><img src="images/case-qflp.png" alt=""></a></figure>
                                      <div class="lower-content">
                                          <h3><a href="/cases">数字金融成传统企业重要创新推动力</a></h3>
                                          <p>范例文字，请取代此段落文字。此段落文字为范例文字内容...</p>
                                          <div class="link"><a href="/cases"><i class="fas fa-arrow-right"></i><span>详情</span></a></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-lg-6 col-md-6 col-sm-12 news-block">
                              <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                                  <div class="inner-box">
                                      <figure class="image-box"><a href="/cases"><img src="images/case-international-public.png" alt=""></a></figure>
                                      <div class="lower-content">
                                          <h3><a href="/cases">跨境上市企业架构新规范出台</a></h3>
                                          <p>范例文字，请取代此段落文字。此段落文字为范例文字内容...</p>
                                          <div class="link"><a href="/cases"><i class="fas fa-arrow-right"></i><span>详情</span></a></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- news-style-three end -->





    <!-- annual-stats -->
    <section class="annual-stats">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div id="content_block_two">
                        <div class="content-box">
                            <div class="sec-title left">
                                <h5>跟上时代步伐</h5>
                                <h2>加入中国新经济领跑队列</h2>
                            </div>
                            <div class="text">
                                <p>经济领域坚持数字产业化和产业数字化“双轮驱动”。坚持以数据为基础的城市智能化转型。推进新生代未来高科技布局坚实基础。</p>
                            </div>
                            <div class="inner-box clearfix">
                                <div class="single-progress-box">
                                    <div class="box">
                                        <div class="piechart"  data-fg-color="#9D2933" data-value=".618">
                                            <span>.618</span>
                                        </div>
                                        <h5>2019年上海软件和信息服务业增加值</h5>
                                        <!-- <h3>Upto 75% Asests</h3> -->
                                    </div>
                                </div>
                                <div class="single-progress-box">
                                    <div class="box">
                                        <div class="piechart"  data-fg-color="#2e4e7e" data-value=".99">
                                            <span>.99</span>
                                        </div>
                                        <h5>2020年上海城市智能交通覆盖率</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                    <div id="image_block_one">
                        <div class="image-box">
                            <div class="pattern-layer" style="background-image: url(images/shape/shape-1.png);"></div>
                            <figure class="image"><img src="images/index-data.png" alt=""></figure>
                            <div class="award-box">
                                <div class="box">
                                    <figure class="icon-box"><img src="images/icons/icon-1.png" alt=""></figure>
                                    <span>用新金融夺标全球商业高地</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- annual-stats end -->





    <!-- testimonial-section -->
    <section class="testimonial-section alternet-2">
        <div class="auto-container">
            <div class="sec-title style-three centred">
                <h5>政策视角</h5>
                <h2>数字化经济的未来行情</h2>
            </div>
            <div class="testimonial-inner">
                <div class="client-testimonial-carousel owl-carousel owl-theme owl-nav-none owl-dots-none">
                    <div class="testimonial-block">
                        <div class="text">
                            <i class="fas fa-quote-right"></i>
                            <p>城市是数字化转型的主场，上海超大人口规模和经济体量，为经济、生 活、治理等各领域的数字化转型提供了最丰富的场景，上海历来高度重视场景开放工作。在智能网联汽车发展过程中，道路、测试测试场景丰富度和示范应用规模均位居全国首位；在数字人民币试点应用过程中，落地多 个数字人民币场景，在白名单客户数、钱包数、钱包交易量等方面均领先全国。<br/><br/> <strong>吴清</strong><br/>上海市副市长</p>
                        </div>
                    </div>
                    <div class="testimonial-block">
                        <div class="text">
                            <i class="fas fa-quote-right"></i>
                            <p>数据是基础性战略性资源，也是城市发展的新型生产要素。谁掌握了数据谁就掌握了主动权。要最大限度激发数据潜能，释放数据红利，需要全市各方面持续用力久久为功。<br/><br/> <strong>朱宗尧</strong><br/>上海市大数据中心主任</p>
                        </div>
                    </div>
                    <!-- <div class="testimonial-block">
                        <div class="text">
                            <i class="fas fa-quote-right"></i>
                            <p>Aspernatur aut odit aut fugit sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam estm qui dolorem ipsum quia dolor sit amet consectetur, adipisci velit sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam sd ipsum quaerat voluptatem.</p>
                        </div>
                    </div> -->
                </div>
                <div class="client-thumb-outer">
                    <div class="client-thumbs-carousel owl-carousel owl-theme owl-nav-none owl-dots-none">
                        <!-- <div class="thumb-item">
                            <figure class="thumb-box"><img src="images/resource/testimonial-1.png" alt=""></figure>
                            <div class="info-box">
                                <h5>朱宗尧</h5>
                                <span class="designation"></span>
                            </div>
                        </div>
                        <div class="thumb-item">
                            <figure class="thumb-box"><img src="images/resource/testimonial-2.png" alt=""></figure>
                            <div class="info-box">
                                <h5>Christine Eva</h5>
                                <span class="designation">Senior Manager</span>
                            </div>
                        </div>
                        <div class="thumb-item">
                            <figure class="thumb-box"><img src="images/resource/testimonial-3.png" alt=""></figure>
                            <div class="info-box">
                                <h5>Jhon Doe</h5>
                                <span class="designation">Senior Manager</span>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial-section end -->


    <%- include("./components/footer.ejs") %>

    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="fa fa-arrow-up"></span>
    </button>

    <%- include("./components/sidebar.ejs") %>

<!-- jequery plugins -->
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/validation.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/scrollbar.js"></script>
<script src="js/nav-tool.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/jquery.nice-select.min.js"></script>

<!-- main-js -->
<script src="js/script.js"></script>

</body><!-- End of .page_wrapper -->
</html>
