<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>申征商务服务发展有限公司</title>

<!-- Fav Icon -->
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="css/font-awesome-all.css" rel="stylesheet">
<link href="css/flaticon.css" rel="stylesheet">
<link href="css/owl.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/jquery.fancybox.min.css" rel="stylesheet">
<link href="css/animate.css" rel="stylesheet">
<link href="css/color.css" rel="stylesheet">
<link href="css/rtl.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

</head>


<!-- page wrapper -->
<body class="boxed_wrapper ltr">

    <!-- Preloader -->
    <div class="loader-wrap">
        <div class="preloader">
          <!-- <div class="preloader-close">Preloader Close</div> -->
        </div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>
        <div class="layer layer-three"><span class="overlay"></span></div>
    </div>

    <%- include("../components/header-white.ejs") %>


    <!-- sidebar-page-container -->
    <section class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
              <div class="col-lg-9 col-md-12 col-sm-12 content-side">
                  <div class="blog-details-content">
                      <figure class="image-box">
                          <img src="images/regulation-currency.png" alt="">
                          <span class="category">business</span>
                      </figure>
                      <div class="inner-box">
                          <div class="text" style="padding-top:60px;">
                              <h2>各类外汇相关政策</h2>
                              <p>
                                红筹上市是指中国公司主要运营资产和业务虽在中国境内，但间接以注册在境外离岸法域（通常在开曼、百慕大或英属维尔京群岛等地)的离岸公司名义而在境外交易所（主要是香港联交所、纽约证券交易所、伦敦证券交易所、法兰克福证券交易所、纳斯达克证券交易所、新加坡证券交易所等）挂牌交易的上市模式。
与H股上市相比，香港证监会对于红筹形式上市的规定较为宽松，上市费用也更低；另外，上市后再次集资的能力也更强——企业上市半年后，便可发行新股再集资；更为重要的是，以红筹股形式上市，原有股东套现比H股要容易得多(在香港主板上市，大股东在上市6个月后，可出售其招股章程中所列载、由其实际拥有的股份)。
同时，高管对于内地企业股权的“偏好”也是这种趋势形成的一种推动力量。国资委对于MBO的谨慎与高管收购企业股权的冲突，使得到境外寻求红筹上市成为一种最佳选择。因为同海外公司一样，红筹上市企业管理层可以享受全部认股权权益，而且股份还可以全部流通。
                              </p>
                              <h5>具体操作步骤</h5>
                              <p>1、股东在海外设立壳公司（99.99%都是在BVI，英属维京群岛），先注册设立，成为股东，但先不打钱；</p>
                              <p>2、根据37号文第三条规定，向自己户籍地/公司注册地的外管局提交书面申请材料（包括《境内居民个人境外投资外汇登记表》、身份证、BVI公司的股东证明、公司批准海外投资的决议、国内公司的股份证明等）。（具体手续参见《国家外汇管理局关于发布&lt;境内机构境外直接投资外汇管理规定&gt;的通知》（汇发[2009]30号））</p>
                              <p>3、完成上述登记后，根据37号文第十一条之规定：“境内居民可在真实、合理需求的基础上购汇汇出资金用于特殊目的公司设立、股份回购或退市等。”换汇并付款到BVI公司，完成出资实缴。</p>
                              <p>4、跟其他股东的境外BVI公司一起，到开曼（Cayman Island）设立一家合资公司，这家公司就是未来上市用的主体，把前面付到BVI的资金注入开曼合资公司。</p>
                              <h3>继续步骤</h3>
                              <p>5、用开曼公司到BVI再设一家壳公司，作为开曼公司和下层公司之间隔离，这样如果以后需要出售下层公司，可以直接卖中间这层的股权，原因是中间这层在BVI，监管很宽松，手续很灵活，当然如果纯为了海外上市，不涉及卖下层公司的话，可以不设中间这层。</p>
                              <p>6、用开曼公司（如果第5部的BVI中间公司设立了，则用这家BVI公司）到香港设立一家全资子公司，把开曼公司的资金注入香港公司。</p>
                          </div>
                          <div class="two-column">
                              <div class="row clearfix">
                                  <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                      <figure class="image-box"><img src="images/news/news-21.jpg" alt=""></figure>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                      <figure class="image-box"><img src="images/news/news-22.jpg" alt=""></figure>
                                  </div>
                              </div>
                          </div>
                          <div class="text">
                            <p>7、用香港公司收购境内公司的股权（也就是说，你自己掏了一笔钱，做完37号文登记，把钱换汇投到国外，然后又一路投资回国内，最后用来把你所持有的国内公司的股权收购了，这笔钱又回到你手里，但你所持有的国内公司股权就已经翻到国外去了）。</p>
                            <blockquote>
                                <h5>为了规范内地与香港股票市场交易互联互通机制下香港上市公司配股有关活动，保护内地投资者的合法权益，根据《证券法》《内地与香港股票市场交易互联互通机制若干规定》等有关规定，我会修订了《关于港股通下香港上市公司向境内原股东配售股份的备案规定》，现予公布，自公布之日起施行。原《关于港股通下香港上市公司向境内原股东配售股份的备案规定》（证监会公告〔2014〕48号），同时废止。</h5>
                                <span>中国证监会</span>
                            </blockquote>
                            <p>8、如果涉及互联网、电信、教育之类禁止或者限制外商投资的行业，则无法用香港公司直接收购境内公司的股权，这时候就需要搭建VIE架构了。具体而言，就是香港公司先在境内设立一家全资子公司（WOFE，Wholly Owned Foreign Enterprise，外商全资子公司），然后这家全资子公司与境内企业之间签署控制协议（VIE协议，Variable Interest Entity，可变利益主体），取得对这家境内企业的控制权和收益权等（通常也会把一些知识产权之类的都剥离给WOFE公司），同时付款给这家境内公司（使钱又回到境内公司股东手里），实现股东外翻。</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 col-md-12 col-sm-12 sidebar-side">
                  <div class="sidebar">
                      <div class="sidebar-widget sidebar-post">
                          <div class="widget-title">
                              <h3>更多内容</h3>
                          </div>
                          <div class="widget-content">
                              <div class="post">
                                  <figure class="post-thumb"><a href="#"><img src="images/news/post-1.jpg" alt=""></a></figure>
                                  <h6><a href="#">链接案例标题</a></h6>
                              </div>
                              <div class="post">
                                  <figure class="post-thumb"><a href="#"><img src="images/news/post-2.jpg" alt=""></a></figure>
                                  <h6><a href="#">链接案例标题</a></h6>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </section>
    <!-- sidebar-page-container end -->

    <%- include("../components/footer.ejs") %>

    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="fa fa-arrow-up"></span>
    </button>

    <%- include("../components/sidebar.ejs") %>


<!-- jequery plugins -->
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/validation.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/scrollbar.js"></script>
<script src="js/nav-tool.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/jquery.nice-select.min.js"></script>

<!-- main-js -->
<script src="js/script.js"></script>

</body><!-- End of .page_wrapper -->
</html>
