<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>申征商务服务发展有限公司</title>

<!-- Fav Icon -->
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="css/font-awesome-all.css" rel="stylesheet">
<link href="css/flaticon.css" rel="stylesheet">
<link href="css/owl.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/jquery.fancybox.min.css" rel="stylesheet">
<link href="css/animate.css" rel="stylesheet">
<link href="css/color.css" rel="stylesheet">
<link href="css/rtl.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

</head>


<!-- page wrapper -->
<body class="boxed_wrapper ltr">

    <!-- Preloader -->
    <div class="loader-wrap">
        <div class="preloader">
          <!-- <div class="preloader-close">Preloader Close</div> -->
        </div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>
        <div class="layer layer-three"><span class="overlay"></span></div>
    </div>

    <%- include("../components/header-white.ejs") %>


    <!-- service-section -->
    <section class="service-section">
        <div class="auto-container">
            <div class="title-box">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-12 title-column">
                        <div class="sec-title right">
                            <h5>&nbsp;</h5>
                            <h2>高新科技企业综合服务</h2>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 text-column">
                        <div class="text">
                            <p>范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inner-content">
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <h4><a href="/services-high-tech-1">战战略性新兴产业项目申请</a></h4>
                                <div class="inner">
                                    <div class="icon-box"><i class="flaticon-rocket"></i></div>
                                    <p>范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。</p>
                                    <a href="/services-high-tech-1"><i class="fas fa-arrow-right"></i><span>服务详情</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <h4><a href="/services-high-tech-2">专精特新企业申报</a></h4>
                                <div class="inner">
                                    <div class="icon-box"><i class="flaticon-innovation-1"></i></div>
                                    <p>范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。</p>
                                    <a href="/services-high-tech-2"><i class="fas fa-arrow-right"></i><span>服务详情</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <h4><a href="/services-high-tech-3">科技"小巨人"申报</a></h4>
                                <div class="inner">
                                    <div class="icon-box"><i class="flaticon-presentation"></i></div>
                                    <p>范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。</p>
                                    <a href="/services-high-tech-3"><i class="fas fa-arrow-right"></i><span>服务详情</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <h4><a href="/services-high-tech-4">科创研发和构建贷款申请</a></h4>
                                <div class="inner">
                                    <div class="icon-box"><i class="flaticon-target"></i></div>
                                    <p>范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。</p>
                                    <a href="/services-high-tech-4"><i class="fas fa-arrow-right"></i><span>服务详情</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <h4><a href="/services-high-tech-5">知识产权及研发平台贷申请</a></h4>
                                <div class="inner">
                                    <div class="icon-box"><i class="flaticon-target"></i></div>
                                    <p>范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。</p>
                                    <a href="/services-high-tech-5"><i class="fas fa-arrow-right"></i><span>服务详情</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <h4><a href="/services-high-tech-6">科技企业员工持股计划服务</a></h4>
                                <div class="inner">
                                    <div class="icon-box"><i class="flaticon-target"></i></div>
                                    <p>范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。</p>
                                    <a href="/services-high-tech-6"><i class="fas fa-arrow-right"></i><span>服务详情</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <h4><a href="/services-high-tech-7">引荐战略投资基金</a></h4>
                                <div class="inner">
                                    <div class="icon-box"><i class="flaticon-target"></i></div>
                                    <p>范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。</p>
                                    <a href="/services-high-tech-7"><i class="fas fa-arrow-right"></i><span>服务详情</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                            <div class="inner-box">
                                <h4><a href="/services-high-tech-8">高新技术成果转化服务</a></h4>
                                <div class="inner">
                                    <div class="icon-box"><i class="flaticon-target"></i></div>
                                    <p>范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。</p>
                                    <a href="/services-high-tech-8"><i class="fas fa-arrow-right"></i><span>服务详情</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-section end -->

    <%- include("../components/footer.ejs") %>

    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="fa fa-arrow-up"></span>
    </button>

    <%- include("../components/sidebar.ejs") %>

<!-- jequery plugins -->
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/validation.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/scrollbar.js"></script>
<script src="js/nav-tool.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/jquery.nice-select.min.js"></script>

<!-- main-js -->
<script src="js/script.js"></script>

</body><!-- End of .page_wrapper -->
</html>
