<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>申征商务服务发展有限公司</title>

<!-- Fav Icon -->
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="css/font-awesome-all.css" rel="stylesheet">
<link href="css/flaticon.css" rel="stylesheet">
<link href="css/owl.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/jquery.fancybox.min.css" rel="stylesheet">
<link href="css/animate.css" rel="stylesheet">
<link href="css/color.css" rel="stylesheet">
<link href="css/rtl.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

</head>


<!-- page wrapper -->
<body class="boxed_wrapper ltr">

    <!-- Preloader -->
    <div class="loader-wrap">
        <div class="preloader">
          <!-- <div class="preloader-close">Preloader Close</div> -->
        </div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>
        <div class="layer layer-three"><span class="overlay"></span></div>
    </div>


    <%- include("../components/header-white.ejs") %>


    <!-- service-details -->
    <section class="service-details">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                    <div class="service-details-content">
                        <div class="content-style-one">
                            <div class="sec-title left">
                                <h5>单项服务</h5>
                                <h2>ODI商务委发改委备案</h2>
                            </div>
                            <div class="text">
                              <br/>
                              <h3>中国对外投资实现平稳健康有序发展</h3>
                              <p></p>
                              <p>在商务部、国家统计局和国家外汇管理局联合发布《2020 年度中国对外直接投资统计公报》中显示，2020 年中国对外直接投资 主要呈现以下特点：</p>
                              <p>
                                一是中国企业对外投资总体保持活跃。2020年中国对外直接投资 1537.1 亿美元，同比增长 12.3%，流量规模首次位居全球第一。2020 年末，中国对外直接投资存量达 2.58 万亿美元，次于美国（8.13 万亿美元）和荷兰（3.8 万亿美元）。中国在全球外国直接投资中的影响力不断扩大，流量占全球比重连续 5 年超过一成，2020 年占 20.2%；存量占 6.6%，较上年提升 0.2 个百分点。2020 年中国双向投资基本持平，引进来走出去同步发展。
                              </p>


                              <div id="content_block_two">
                                  <div class="content-box">
                                      <div class="inner-box clearfix">
                                          <div class="single-progress-box">
                                              <div class="box clearfix">
                                                  <div class="piechart"  data-fg-color="#204669" data-value=".202">
                                                      <span>.202</span>
                                                  </div>
                                                  <div class="text">
                                                      <h5>2020中国在全球外国直接投资流量全球比重</h5>
                                                      <!-- <h3>1537.1 亿美元</h3> -->
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="single-progress-box">
                                              <div class="box clearfix">
                                                  <div class="piechart"  data-fg-color="#9D2933" data-value=".123">
                                                      <span>.123</span>
                                                  </div>
                                                  <div class="text">
                                                      <h5>2020中国对外直接投资同比增长</h5>
                                                      <!-- <h3>数据点范例文本</h3> -->
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <br/>


                              <!-- <div class="content-style-three">
                                  <div id="content_block_one" style="margin-bottom:60px;">
                                      <div class="content-box">
                                          <div class="inner-box">
                                              <div class="single-item">
                                                  <div class="icon-box">
                                                      <span class="bg-box"></span>
                                                      <i class="flaticon-computer-1"></i>
                                                  </div>
                                                  <h4><a href="/">重点服务项目详述副标题</a></h4>
                                                  <p>范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。</p>
                                              </div>
                                              <div class="single-item">
                                                  <div class="icon-box">
                                                      <span class="bg-box"></span>
                                                      <i class="flaticon-browser-1"></i>
                                                  </div>
                                                  <h4><a href="/">其他内容详述副标题</a></h4>
                                                  <p>范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div> -->

                              <p>
                                二是对“一带一路”沿线国家投资稳步增长。截至 2020 年底，中国 2.8 万家境内投资者在全球 189 个国家(地区)设立对外直接投资企业 4.5 万家，全球 80%以上国家(地区)都有中国的投资，年末境外企业资产总额 7.9 万亿美元。在“一带一路”沿线国家设立境外企业超过 1.1 万家，2020 年当年实现直接投资 225.4 亿美元，同比增长 20.6%，占同期流量的 14.7%；年末存量 2007.9 亿美元，占存量总额的 7.8%。2013 至 2020 年中国对沿线国家累计直接投资 1398.5 亿美元。
                              </p>
                              <p>
                                三是投资领域日趋广泛，结构不断优化。2020 年，中国对外直接投资涵盖国民经济的 18 个行业大类，近七成投资流向租赁和商务服务、制造、批发和零售、金融领域，四大行业流量均超过百亿美元。2020 年末，中国对外直接投资存量的八成集中在服务业，主要分布在租赁和商务服务、批发和零售、信息传输/软件和信息技术服务、金融、房地产、交通运输/仓储和邮政等领域。
                              </p>
                              <p>
                                四是非公经济与公有经济控股主体的对外投资齐头并进。2020 年中国对外非金融类投资流量中，非公有经济控股的境内投资者对 外投资 671.6 亿美元，占 50.1%，同比增长 14.1%；公有经济控股的境内投资者对外投资 668.9 亿美元，占 49.9%，同比增长 15.1%。
                              </p>
                              <p>
                                五是互利共赢效果凸显，实现共同发展。2020 年境外中资企业向投资所在国家和地区缴纳各种税金总额合计 445 亿美元，雇用外 方员工 218.8 万人，占境外企业员工总数的 60.6%。对外投资带动我国产货物出口 1737 亿美元，占中国货物出口总值的 6.7%。境外中资企业当年实现销售收入 2.4 万亿美元。
                              </p>
                            </div>
                        </div>
                        <div class="content-style-two">
                            <div class="image-box">
                                <div class="row clearfix">
                                    <div class="col-lg-12 col-md-12 col-sm-12 image-column">
                                        <figure class="image"><img src="images/odi-1.png" alt=""></figure>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3>ODI新规</h3>
                        <p>原文下载: <a href="https://www.ndrc.gov.cn/xxgk/zcfb/fzggwl/201712/W020190905495109740626.pdf" download>企业境外投资管理办法</a></p>
                        <br/>
                        <div class="image-box">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 image-column">
                                    <figure class="image"><img src="images/odi-1-1.png" alt=""></figure>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="image-box">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 image-column">
                                    <figure class="image"><img src="images/odi-1-2.png" alt=""></figure>
                                </div>
                            </div>
                        </div>
                        <br/>
                        <div class="image-box">
                            <div class="row clearfix">
                                <div class="col-lg-12 col-md-12 col-sm-12 image-column">
                                    <figure class="image"><img src="images/odi-1-3.png" alt=""></figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                    <div class="service-sidebar">
                        <div class="sidebar-categories">
                            <ul class="categories-list clearfix">
                                <li><a href="#" class="active">ODI商务委发改委备案</a></li>
                                <li><a href="/services-odi-2">ODI外汇登记资金出境/回境</a></li>
                                <!-- <li><a href="/services-odi-3">境外上市公司私有化</a></li> -->
                                <li><a href="/services-odi-4">境外股权投资海外报到</a></li>
                                <li><a href="/services-odi-5">ODI后期维护</a></li>
                            </ul>
                        </div>
                        <!-- <div class="sidebar-testimonial">
                            <div class="quote-box"><i class="fas fa-quote-right"></i></div>
                            <div class="sidebar-carousel owl-carousel owl-theme owl-nav-none">
                                <div class="content-box">
                                    <div class="text">
                                        <p>这是一个小贴士和简评内容区，放置简易提示内容。</p>
                                    </div>
                                </div>
                                <div class="content-box">
                                    <div class="text">
                                        <p>这是一个小贴士和简评内容区，放置简易提示内容。</p>
                                    </div>
                                </div>
                                <div class="content-box">
                                    <div class="text">
                                        <p>这是一个小贴士和简评内容区，放置简易提示内容。</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <div class="download-option">
                            <div class="sidebar-title">
                                <h3>文件下载</h3>
                            </div>
                            <ul class="download-file clearfix">
                                <li><a href="files/外汇业务登记凭证样本.pdf" download><i class="fas fa-file-pdf"></i>外汇业务登记凭证样本</a></li>
                                <li><a href="files/发改委备案通知样本.pdf" download><i class="fas fa-file-pdf"></i>发改委备案通知样本</a></li>
                                <li><a href="files/境外投资证书样本.pdf" download><i class="fas fa-file-pdf"></i>境外投资证书样本</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-details end -->




    <%- include("../components/footer.ejs") %>

    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="fa fa-arrow-up"></span>
    </button>

    <%- include("../components/sidebar.ejs") %>


<!-- jequery plugins -->
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/validation.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/scrollbar.js"></script>
<script src="js/nav-tool.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/jquery.nice-select.min.js"></script>

<!-- main-js -->
<script src="js/script.js"></script>

</body><!-- End of .page_wrapper -->
</html>
