<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>申征商务服务发展有限公司</title>

<!-- Fav Icon -->
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="css/font-awesome-all.css" rel="stylesheet">
<link href="css/flaticon.css" rel="stylesheet">
<link href="css/owl.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/jquery.fancybox.min.css" rel="stylesheet">
<link href="css/animate.css" rel="stylesheet">
<link href="css/color.css" rel="stylesheet">
<link href="css/rtl.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

</head>


<!-- page wrapper -->
<body class="boxed_wrapper ltr">

    <!-- Preloader -->
    <div class="loader-wrap">
        <div class="preloader">
          <!-- <div class="preloader-close">Preloader Close</div> -->
        </div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>
        <div class="layer layer-three"><span class="overlay"></span></div>
    </div>


    <%- include("../components/header-white.ejs") %>


    <!-- service-details -->
    <section class="service-details">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                    <div class="service-details-content">
                        <div class="content-style-one">
                            <div class="sec-title left">
                              <h5>单项服务</h5>
                              <h2>境外股权投资海外报到</h2>
                            </div>
                            <div class="text">
                              <p>
                                根据中国商务部《境外投资管理办法》第四十四条规定： 属于核准、备案管理范围的项目， 投资主体应当在项目完成之日起 20 个工作日内通过网络系统提交项目完成 情况报告表。项目完成情况报告表格式文本由国家发展改革委发布。 前款所称项目完成，是指项目所属的建设工程竣工、投资标的股权或资产交割、中方投资额支出完毕等情形。
                              </p>

                              <ul class="list-item clearfix">
                                <li>
                                  <p>
                                    线下：于领取《企业境外投资证书》后半年内到我国驻当地使（领）馆或中联办办理报到登记。
                                  </p>
                                </li>

                                <li>
                                  <p>
                                    线上：完成线下报到登记后 10 个自然日内，将使（领）馆或中联办盖章确认的报到回执上传至商务部业务系统，并线上填报报到登记情况。
                                  </p>
                                </li>
                              </ul>

                              <p></p>

                              <h5>常用境外中资企业报到登记须知链接：</h5>
                              <p></p>
                              <ul class="list-item clearfix">
                                <li>
                                  <p style="font-weight:400 !important;"><a target="_blank" href="http://ch.mofcom.gov.cn/article/ddfg/201909/20190902898402.shtml">瑞士: 境外中资企业报到登记须知</a></p>
                                </li>
                                <li>
                                  <p style="font-weight:400 !important;">
                                    <a target="_blank" href="http://us.mofcom.gov.cn/article/slfw/202110/20211003204804.shtml">美国：驻美使馆经商处中资企业服务手册</a><br/>
                                    驻美国使馆领区（哥伦比亚特区及 15 州）分别是哥伦比亚特区、特拉华、爱达荷、 肯塔基、马里兰、蒙大拿、内布拉斯加、北卡罗来纳、北达科他、南卡罗来纳、南达科他、田纳西、犹他、弗吉尼亚、西弗吉尼亚、怀俄明。代管原驻休斯敦总领馆领区 8 州和波多黎各业务，8 州分别是亚拉巴马、阿肯色、佛罗里达、佐治亚、路易斯安那、密西西比、俄克拉何马、得克萨斯。
                                </li>
                                <li>
                                  <p style="font-weight:400 !important;"><a target="_blank" href="http://www.locpg.gov.cn/jsdt/2016-03/30/c_128848766.htm">香港: 在港新设中资企业（机构）报到登记工作指引</a></p>
                                </li>
                                <li>
                                  <p style="font-weight:400 !important;"><a target="_blank" href="http://sg.mofcom.gov.cn/article/sxtz/202012/20201203025120.shtml">新加坡: 赴新中资企业（机构）报到登记工作注意事项</a></p>
                                </li>
                                <li>
                                  <p style="font-weight:400 !important;"><a target="_blank" href="http://melbourne.mofcom.gov.cn/article/a/201707/20170702614090.shtml">澳大利亚: 境外中资企业报到登记须知</a></p>
                                </li>
                                <li>
                                  <p style="font-weight:400 !important;"><a target="_blank" href="http://osaka.mofcom.gov.cn/article/bl/202012/20201203023960.shtml">日本大阪领区: 当前大阪领区中资企业报到登记注意事项</a></p>
                                </li>
                                <li>
                                  <p style="font-weight:400 !important;"><a target="_blank" href="http://nl.mofcom.gov.cn/article/jmzn/lcysx/201812/20181202818845.shtml">荷兰: 办理境外中资企业（机构）报到登记指南</a></p>
                                </li>
                              </ul>
                            </div>



                            <!-- <ul class="list-item clearfix">
                                <li>服务注意细节点</li>
                                <li>业务流程和重点</li>
                            </ul> -->
                        </div>




                        <!-- <div class="content-style-two">
                            <div class="image-box">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                        <figure class="image"><img src="images/service/service-12.jpg" alt=""></figure>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                        <figure class="image"><img src="images/service/service-13.jpg" alt=""></figure>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <p>独立寒秋2，湘江3北去，橘子洲4头。看万山5红遍，层林尽染6；漫江7碧透，百舸8争流9。鹰击长空，鱼翔浅底10，万类霜天竞自由11。怅寥廓12，问苍茫13大地，谁主14沉浮15？
携来16百侣17曾游。忆往昔峥嵘岁月稠18。恰19同学少年20，风华正茂21；书生意气22，挥斥方遒23。指点江山，激扬文字24，粪土当年万户侯25。曾记否，到中流26击水27，浪遏28飞舟29 ！</p>
                            </div>
                            <div id="content_block_two">
                                <div class="content-box">
                                    <div class="inner-box clearfix">
                                        <div class="single-progress-box">
                                            <div class="box clearfix">
                                                <div class="piechart"  data-fg-color="#204669" data-value=".75">
                                                    <span>.75</span>
                                                </div>
                                                <div class="text">
                                                    <h5>数据点提示</h5>
                                                    <h3>有关此方面范例数据</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-progress-box">
                                            <div class="box clearfix">
                                                <div class="piechart"  data-fg-color="#9D2933" data-value=".25">
                                                    <span>.25</span>
                                                </div>
                                                <div class="text">
                                                    <h5>另一个数据点</h5>
                                                    <h3>数据点范例文本</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="content-style-three">
                            <div id="content_block_one" style="margin-bottom:60px;">
                                <div class="content-box">
                                    <div class="inner-box">
                                        <div class="single-item">
                                            <div class="icon-box">
                                                <span class="bg-box"></span>
                                                <i class="flaticon-computer-1"></i>
                                            </div>
                                            <h4><a href="/">重点服务项目详述副标题</a></h4>
                                            <p>范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。</p>
                                        </div>
                                        <div class="single-item">
                                            <div class="icon-box">
                                                <span class="bg-box"></span>
                                                <i class="flaticon-browser-1"></i>
                                            </div>
                                            <h4><a href="/">其他内容详述副标题</a></h4>
                                            <p>范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                    <div class="service-sidebar">
                        <div class="sidebar-categories">
                            <ul class="categories-list clearfix">
                              <li><a href="/services-odi-1">ODI商务委发改委备案</a></li>
                              <li><a href="/services-odi-2">ODI外汇登记资金出境/回境</a></li>
                              <!-- <li><a href="/services-odi-3">境外上市公司私有化</a></li> -->
                              <li><a href="#" class="active">境外股权投资海外报到</a></li>
                              <li><a href="/services-odi-5">ODI后期维护</a></li>
                            </ul>
                        </div>
                        <!-- <div class="sidebar-testimonial">
                            <div class="quote-box"><i class="fas fa-quote-right"></i></div>
                            <div class="sidebar-carousel owl-carousel owl-theme owl-nav-none">
                                <div class="content-box">
                                    <div class="text">
                                        <p>这是一个小贴士和简评内容区，放置简易提示内容。</p>
                                    </div>
                                </div>
                                <div class="content-box">
                                    <div class="text">
                                        <p>这是一个小贴士和简评内容区，放置简易提示内容。</p>
                                    </div>
                                </div>
                                <div class="content-box">
                                    <div class="text">
                                        <p>这是一个小贴士和简评内容区，放置简易提示内容。</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="download-option">
                            <div class="sidebar-title">
                                <h3>文件下载</h3>
                            </div>
                            <ul class="download-file clearfix">
                                <li><a href="#"><i class="fas fa-file-pdf"></i>服务有关文件</a></li>
                                <li><a href="#"><i class="fas fa-file-pdf"></i>范例协议文本</a></li>
                                <li><a href="#"><i class="fas fa-file-pdf"></i>其他资料文献</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-details end -->




    <%- include("../components/footer.ejs") %>

    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="fa fa-arrow-up"></span>
    </button>

    <%- include("../components/sidebar.ejs") %>


<!-- jequery plugins -->
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/validation.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/scrollbar.js"></script>
<script src="js/nav-tool.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/jquery.nice-select.min.js"></script>

<!-- main-js -->
<script src="js/script.js"></script>

</body><!-- End of .page_wrapper -->
</html>
