<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>申征商务服务发展有限公司</title>

<!-- Fav Icon -->
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="css/font-awesome-all.css" rel="stylesheet">
<link href="css/flaticon.css" rel="stylesheet">
<link href="css/owl.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/jquery.fancybox.min.css" rel="stylesheet">
<link href="css/animate.css" rel="stylesheet">
<link href="css/color.css" rel="stylesheet">
<link href="css/rtl.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

</head>


<!-- page wrapper -->
<body class="boxed_wrapper ltr">

    <!-- Preloader -->
    <div class="loader-wrap">
        <div class="preloader">
          <!-- <div class="preloader-close">Preloader Close</div> -->
        </div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>
        <div class="layer layer-three"><span class="overlay"></span></div>
    </div>


    <%- include("../components/header-white.ejs") %>


    <!-- service-details -->
    <section class="service-details">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                    <div class="service-details-content">
                        <div class="content-style-one">
                            <div class="sec-title left">
                                <h5>单项服务</h5>
                                <h2>ODI后期维护</h2>
                            </div>
                            <div class="text">
                                <p>
                                  时间：每年 1 月 1 日 ～ 6 月 30 日
                                  <br/>
                                  申报区间及申报对象：上一年 12 月 31 日前办理 ODI 登记的境外投资企业境内投资主体
                                </p>
                                <p>
                                  如境外投资企业存在两个及以上境内投资主体，应确定其中一个境内投资主体作为存量权益 信息申报主体，由其向境外投资企业登记地外汇局申报相关信息，其他境内投资主体不再申 报。持股比例最大的境内投资主体原则上为申报责任股东，若持股比例相同，可约定其中一 个境内投资主体为申报责任股东。
                                </p>
                                <p>
                                  境外投资企业的境内投资主体应自行或委托会计师事务所、银行报送；个人境外特殊目的公 司的境外投资存量权益登记由银行代为申报
                                </p>

                                <br/>

                                <h3>商务委</h3>
                                <p>网址：<a href="https://ecomp.mofcom.gov.cn/loginCorp.html">商务部业务系统统一平台 (企业端)</a></p>
                                <ul class="list-item clearfix">
                                  <li>月报</li>
                                  <p>
                                    中方持股比例大于等于 10%的企业于投资款汇出后的次月 5 个自然日内填报月报。
                                  </p>

                                  <li>小比例投资月报</li>
                                  <p>
                                    发证日期为 2019 年 7 月 1 日后的中方持股比例小于 10%的企业于投资款汇出后的次月 5 个 自然日内填报小比例投资月报。
                                  </p>


                                  <li>半年报</li>
                                  <p>
                                    实际开展对外投资活动的企业于每半年后 10 个自然日内填报合规情况报告和障碍情况报告。 实际开展对外投资活动、中方投资额大于等于 1 亿美元且中方持股比例大于 50%的企业于每 半年后 30 个自然日内填报经营情况报告。
                                    通过商务部、财政部考核的境外经贸合作区于每半年后 30 个自然日内填报合作区情况报告。
                                  </p>


                                  <li>年报</li>
                                  <p>
                                    中方持股比例大于等于 10%的企业于每年 6 月 20 日前报送上年度企业基本情况、对外投资 流量、存量等相关信息。
                                  </p>
                                </ul>

                                <br/><br/>

                                <h3>发改委：项目完成报告</h3>
                                <p>网址：<a href="http://jwtz.ndrc.gov.cn/jwtz/home?code=&state=123">全国境外投资管理和服务网络系统</a></p>
                                <p>取得《境外投资项目备案通知书》的企业于项目完成（项目所属的建设工程竣工、投资标的 股权或资产交割、中方投资额支出完毕等）后的 20 个工作日内通过发改委网络系统填报项目完成情况报告。</p>

                                <br/><br/>

                                <h3>外汇管理局：存量登记</h3>
                                <p>网址：<a href="http://zwfw.safe.gov.cn/asone/">国家外汇管理局数字外管平台（ASOne）</a></p>
                                <p>取得《ODI 外汇业务登记凭证》的企业于每年 6 月 30 日前通过资本项目信息系统报送上年 度境外企业存量权益相关信息。</p>

                                <h5>申报内容：</h5>
                                <p></p>
                                <ul class="list-item clearfix">
                                  <li>
                                    <p style="font-weight:400 !important;">确定并填写境内股东持股比例。如境外投资企业系由境内多个投资主体持股，应合并计算所有中方股东持股比例。</p>
                                  </li>
                                  <li>
                                    <p style="font-weight:400 !important;">按照第一层级境外投资企业（含境外特殊目的公司，以下简称境外 SPV）合并财务报表相关会计科目， 分别填写资产、负债及权益数据。</p>
                                  </li>
                                  <li>
                                    <p style="font-weight:400 !important;">“流动资产”、“非流动资产”、“境外投资企业资产合计”、“短期负债”、 “长期负债”、“境外投资企业负债合计”、 “归属于境外投资企业全体股 东的权益”以及“归属于境外投资企业全体股东的净利润”等项目均按照 第一层级境外投资企业（含境外 SPV）合并财务报表相关会计科目填 写。</p>
                                  </li>
                                  <li>
                                    <p style="font-weight:400 !important;">“归属于中方股东的权益”、“归属于中方股东的未分配利润余额” 及“中方股东享有的净利润”等项目按中方股权比例或约定比例（符合相关法律法规的规定）计算后填写。</p>
                                  </li>
                                  <li>
                                    <p style="font-weight:400 !important;">“境外投资企业应付中方股利”填写已宣告分配、但尚未支付给中方的股利。</p>
                                  </li>
                                  <li>
                                    <p style="font-weight:400 !important;">“分配中方股东的利润金额合计”、“汇回中方股东的利润金额合计”的当期数按上年度实际发生额填写。</p>
                                  </li>
                                  <li>
                                    <p style="font-weight:400 !important;">如境外企业属于第一层级特殊目的公司，还需填写其在子公司中享有的权益， 按照第一层级境外 SPV 合并财务报表相关会计科目填写。</p>
                                  </li>
                                  <li>
                                    <p style="font-weight:400 !important;">被确定参加存量权益抽样调查的样本企业，还应按季度报送存量权益数据。 数据填报内容与 ODI 存量权益登记要求一致。</p>
                                  </li>
                                </ul>

                                <p></p>
                                <h5>存量登记超时未报的严重后果:</h5>
                                <p></p>
                                <ul class="list-item clearfix">
                                  <li>
                                    <p style="font-weight:400 !important;">超时未按要求完成存量权益登记的，由国家外汇局依据《外汇管理条例》等法律法规予以处理，包括但不限于暂停相关外汇业务、移交检查部门处罚等方式。</p>
                                  </li>
                                  <li>
                                    <p style="font-weight:400 !important;">可于截止日后申请补登记，如有合理理由且系初次未按规定申报的，可凭相关说明函向外汇局申请补登记业务；若无合理理由，外汇局将先移交检查部门查处后受理补登记申请。</p>
                                  </li>
                                  <li>
                                    <p style="font-weight:400 !important;">
                                      根据关于进一步简化和改进直接投资外汇管理政策的通知（汇发〔2015〕13 号）：<br/>
                                      对于未按前款规定办理的相关市场主体，外汇局在资本项目信息系统中对其进行业务管控， 银行不得为其办理资本项下外汇业务。在按要求补报并向外汇局出具说明函说明合理理由后，外汇局取消业务管控，对涉嫌违反外汇管理规定的，依法进行行政处罚。
                                    </p>
                                  </li>
                                </ul>
                            </div>
                            <!-- <ul class="list-item clearfix">
                                <li>服务注意细节点</li>
                                <li>业务流程和重点</li>
                            </ul> -->
                        </div>
                        <div class="content-style-two">
                            <div class="image-box">
                                <!-- <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                        <figure class="image"><img src="images/service/service-12.jpg" alt=""></figure>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                        <figure class="image"><img src="images/service/service-13.jpg" alt=""></figure>
                                    </div>
                                </div> -->
                            </div>
                            <div class="text">
                                <!-- <p>独立寒秋2，湘江3北去，橘子洲4头。看万山5红遍，层林尽染6；漫江7碧透，百舸8争流9。鹰击长空，鱼翔浅底10，万类霜天竞自由11。怅寥廓12，问苍茫13大地，谁主14沉浮15？
携来16百侣17曾游。忆往昔峥嵘岁月稠18。恰19同学少年20，风华正茂21；书生意气22，挥斥方遒23。指点江山，激扬文字24，粪土当年万户侯25。曾记否，到中流26击水27，浪遏28飞舟29 ！</p> -->
                            </div>



                            <!-- <div id="content_block_two">
                                <div class="content-box">
                                    <div class="inner-box clearfix">
                                        <div class="single-progress-box">
                                            <div class="box clearfix">
                                                <div class="piechart"  data-fg-color="#204669" data-value=".75">
                                                    <span>.75</span>
                                                </div>
                                                <div class="text">
                                                    <h5>数据点提示</h5>
                                                    <h3>有关此方面范例数据</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-progress-box">
                                            <div class="box clearfix">
                                                <div class="piechart"  data-fg-color="#9D2933" data-value=".25">
                                                    <span>.25</span>
                                                </div>
                                                <div class="text">
                                                    <h5>另一个数据点</h5>
                                                    <h3>数据点范例文本</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->



                        </div>
                        <div class="content-style-three">


                            <!-- <div id="content_block_one" style="margin-bottom:60px;">
                                <div class="content-box">
                                    <div class="inner-box">
                                        <div class="single-item">
                                            <div class="icon-box">
                                                <span class="bg-box"></span>
                                                <i class="flaticon-computer-1"></i>
                                            </div>
                                            <h4><a href="/">重点服务项目详述副标题</a></h4>
                                            <p>范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。</p>
                                        </div>
                                        <div class="single-item">
                                            <div class="icon-box">
                                                <span class="bg-box"></span>
                                                <i class="flaticon-browser-1"></i>
                                            </div>
                                            <h4><a href="/">其他内容详述副标题</a></h4>
                                            <p>范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。</p>
                                        </div>
                                    </div>
                                </div>
                            </div> -->


                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                    <div class="service-sidebar">
                        <div class="sidebar-categories">
                            <ul class="categories-list clearfix">
                              <li><a href="/services-odi-1">ODI商务委发改委备案</a></li>
                              <li><a href="/services-odi-2">ODI外汇登记资金出境/回境</a></li>
                              <!-- <li><a href="/services-odi-3">境外上市公司私有化</a></li> -->
                              <li><a href="/services-odi-4">境外股权投资海外报到</a></li>
                              <li><a href="#" class="active">ODI后期维护</a></li>
                            </ul>
                        </div>
                        <!-- <div class="sidebar-testimonial">
                            <div class="quote-box"><i class="fas fa-quote-right"></i></div>
                            <div class="sidebar-carousel owl-carousel owl-theme owl-nav-none">
                                <div class="content-box">
                                    <div class="text">
                                        <p>这是一个小贴士和简评内容区，放置简易提示内容。</p>
                                    </div>
                                </div>
                                <div class="content-box">
                                    <div class="text">
                                        <p>这是一个小贴士和简评内容区，放置简易提示内容。</p>
                                    </div>
                                </div>
                                <div class="content-box">
                                    <div class="text">
                                        <p>这是一个小贴士和简评内容区，放置简易提示内容。</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="download-option">
                            <div class="sidebar-title">
                                <h3>文件下载</h3>
                            </div>
                            <ul class="download-file clearfix">
                                <li><a href="#"><i class="fas fa-file-pdf"></i>服务有关文件</a></li>
                                <li><a href="#"><i class="fas fa-file-pdf"></i>范例协议文本</a></li>
                                <li><a href="#"><i class="fas fa-file-pdf"></i>其他资料文献</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-details end -->




    <%- include("../components/footer.ejs") %>

    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="fa fa-arrow-up"></span>
    </button>

    <%- include("../components/sidebar.ejs") %>


<!-- jequery plugins -->
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/validation.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/scrollbar.js"></script>
<script src="js/nav-tool.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/jquery.nice-select.min.js"></script>

<!-- main-js -->
<script src="js/script.js"></script>

</body><!-- End of .page_wrapper -->
</html>
