<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>申征商务服务发展有限公司</title>

<!-- Fav Icon -->
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="css/font-awesome-all.css" rel="stylesheet">
<link href="css/flaticon.css" rel="stylesheet">
<link href="css/owl.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/jquery.fancybox.min.css" rel="stylesheet">
<link href="css/animate.css" rel="stylesheet">
<link href="css/color.css" rel="stylesheet">
<link href="css/rtl.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

</head>


<!-- page wrapper -->
<body class="boxed_wrapper ltr">

    <!-- Preloader -->
    <div class="loader-wrap">
        <div class="preloader">
          <!-- <div class="preloader-close">Preloader Close</div> -->
        </div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>
        <div class="layer layer-three"><span class="overlay"></span></div>
    </div>


    <%- include("../components/header-white.ejs") %>


    <!-- service-details -->
    <section class="service-details">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                    <div class="service-details-content">
                        <div class="content-style-one">
                            <div class="sec-title left">
                                <h5>单项服务</h5>
                                <h2>ODI外汇登记资金出境/回境</h2>
                            </div>
                            <div class="text">




                              <h5>审核原则</h5>
                              <p></p>
                              <p>
                                境内机构以境外资金或其他境外资产或权益出资的境外直接投资，应向所在地银行申请办理境外这届投资外汇登记。银行应审核其境外资金留存或境外收益获取的合规性，涉嫌以其非法留存境外的资产或权益转做境外投资的，不得为其办理境外直接投资外汇登记。主要审核材料如下：
                              </p>
                              <ul class="list-item clearfix">
                                <li>
                                  <p style="font-weight:400 !important;">1. 该笔境外投资相关主管部门对境外投资事项的批准，备案文件或无异议材料等。</p>
                                </li>
                                <li>
                                  <p style="font-weight:400 !important;">2. 境外投资资金来源证明，资金使用计划，企业有关权利机构关于境外投资相关决议等真 实性证明材料。</p>
                                </li>
                              </ul>

                              <p></p>


                              <h5>相关外汇政策指引</h5>
                              <p></p>

                              <ul class="list-item clearfix">
                                <li>
                                  <p style="font-weight:400 !important;"><a target="_blank" href="https://www.safe.gov.cn/safe/2015/0228/5548.html">《国家外汇管理局关于进一步简化和改进直接投资外汇管理政策的通知》（汇发[2015]13 号 ）</a></p>
                                </li>

                                <p>

                                  主要内容：<br/>

                                  1. 取消直接投资项下外汇登记核准。境内外投资主体可直接到银行办理境内直接投资项下和境外直接投资项下相关外汇登记。<br/>

                                  2. 简化境内直接投资项下外国投资者出资确认登记管理。取消境内直接投资项下外国投资者非货币出资确认登记和外国投资者收购中方股权出资确认登记，将外国投资者货币出资确认登记调整为境内直接投资货币出资入账登记。<br/>

                                  3. 取消境外再投资外汇备案。境内投资主体设立或控制的境外企业在境外再投资设立或控制新的境外企业时，无需办理外汇备案手续。<br/>

                                  4. 取消直接投资外汇年检。改为实行境内直接投资和境外直接投资存量权益登记。放宽登记时间，允许企业通过多种渠道报送相关数据。<br/>

                                  5. 加强事中事后监管。加强对银行的培训指导，强化事后核查和检查，要求银行提高合规意识，明确对违规银行的处罚措施。<br/>
                                </p>



                                <li>
                                  <p style="font-weight:400 !important;"><a target="_blank" href="https://www.safe.gov.cn/safe/2014/0714/5546.html">《国家外汇管理局关于境内居民通过特殊目的公司境外投融资及返程投资外汇管理有关问题的通知》（汇发[2014]37 号）</a></p>
                                </li>
                                <li>
                                  <p style="font-weight:400 !important;"><a target="_blank" href="https://www.safe.gov.cn/safe/2009/0713/5536.html">国家外汇管理局关于发布《境内机构境外直接投资外汇管理规定》的通知（汇发[2009]30 号）</a></p>
                                </li>
                              </ul>

                            </div>
                        </div>


                        <!-- <div class="content-style-two">
                            <div class="image-box">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                        <figure class="image"><img src="images/service/service-12.jpg" alt=""></figure>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 image-column">
                                        <figure class="image"><img src="images/service/service-13.jpg" alt=""></figure>
                                    </div>
                                </div>
                            </div>
                            <div class="text">
                                <p>独立寒秋2，湘江3北去，橘子洲4头。看万山5红遍，层林尽染6；漫江7碧透，百舸8争流9。鹰击长空，鱼翔浅底10，万类霜天竞自由11。怅寥廓12，问苍茫13大地，谁主14沉浮15？
携来16百侣17曾游。忆往昔峥嵘岁月稠18。恰19同学少年20，风华正茂21；书生意气22，挥斥方遒23。指点江山，激扬文字24，粪土当年万户侯25。曾记否，到中流26击水27，浪遏28飞舟29 ！</p>
                            </div>
                            <div id="content_block_two">
                                <div class="content-box">
                                    <div class="inner-box clearfix">
                                        <div class="single-progress-box">
                                            <div class="box clearfix">
                                                <div class="piechart"  data-fg-color="#204669" data-value=".75">
                                                    <span>.75</span>
                                                </div>
                                                <div class="text">
                                                    <h5>数据点提示</h5>
                                                    <h3>有关此方面范例数据</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="single-progress-box">
                                            <div class="box clearfix">
                                                <div class="piechart"  data-fg-color="#9D2933" data-value=".25">
                                                    <span>.25</span>
                                                </div>
                                                <div class="text">
                                                    <h5>另一个数据点</h5>
                                                    <h3>数据点范例文本</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="content-style-three">
                            <div id="content_block_one" style="margin-bottom:60px;">
                                <div class="content-box">
                                    <div class="inner-box">
                                        <div class="single-item">
                                            <div class="icon-box">
                                                <span class="bg-box"></span>
                                                <i class="flaticon-computer-1"></i>
                                            </div>
                                            <h4><a href="/">重点服务项目详述副标题</a></h4>
                                            <p>范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。</p>
                                        </div>
                                        <div class="single-item">
                                            <div class="icon-box">
                                                <span class="bg-box"></span>
                                                <i class="flaticon-browser-1"></i>
                                            </div>
                                            <h4><a href="/">其他内容详述副标题</a></h4>
                                            <p>范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。范例文字，请取代此段落文字。此段落文字为范例文字内容，请务必取代。范例文字，请取代此段落文字。</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                    <div class="service-sidebar">
                        <div class="sidebar-categories">
                            <ul class="categories-list clearfix">
                              <li><a href="/services-odi-1">ODI商务委发改委备案</a></li>
                              <li><a href="#" class="active">ODI外汇登记资金出境/回境</a></li>
                              <!-- <li><a href="/services-odi-3">境外上市公司私有化</a></li> -->
                              <li><a href="/services-odi-4">境外股权投资海外报到</a></li>
                              <li><a href="/services-odi-5">ODI后期维护</a></li>
                            </ul>
                        </div>
                        <!-- <div class="sidebar-testimonial">
                            <div class="quote-box"><i class="fas fa-quote-right"></i></div>
                            <div class="sidebar-carousel owl-carousel owl-theme owl-nav-none">
                                <div class="content-box">
                                    <div class="text">
                                        <p>这是一个小贴士和简评内容区，放置简易提示内容。</p>
                                    </div>
                                </div>
                                <div class="content-box">
                                    <div class="text">
                                        <p>这是一个小贴士和简评内容区，放置简易提示内容。</p>
                                    </div>
                                </div>
                                <div class="content-box">
                                    <div class="text">
                                        <p>这是一个小贴士和简评内容区，放置简易提示内容。</p>
                                    </div>
                                </div>
                            </div>
                        </div> -->

                        <!-- <div class="download-option">
                            <div class="sidebar-title">
                                <h3>文件下载</h3>
                            </div>
                            <ul class="download-file clearfix">
                                <li><a href="#"><i class="fas fa-file-pdf"></i><a href="/images/myw3schoolsimage.jpg" download></a>服务有关文件</a></li>
                                <li><a href="#"><i class="fas fa-file-pdf"></i>范例协议文本</a></li>
                                <li><a href="#"><i class="fas fa-file-pdf"></i>其他资料文献</a></li>
                            </ul>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-details end -->




    <%- include("../components/footer.ejs") %>

    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="fa fa-arrow-up"></span>
    </button>

    <%- include("../components/sidebar.ejs") %>


<!-- jequery plugins -->
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/validation.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/scrollbar.js"></script>
<script src="js/nav-tool.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/jquery.nice-select.min.js"></script>

<!-- main-js -->
<script src="js/script.js"></script>

</body><!-- End of .page_wrapper -->
</html>
