<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>申征商务服务发展有限公司</title>

<!-- Fav Icon -->
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="css/font-awesome-all.css" rel="stylesheet">
<link href="css/flaticon.css" rel="stylesheet">
<link href="css/owl.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/jquery.fancybox.min.css" rel="stylesheet">
<link href="css/animate.css" rel="stylesheet">
<link href="css/color.css" rel="stylesheet">
<link href="css/rtl.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

</head>


<!-- page wrapper -->
<body class="boxed_wrapper ltr">

    <!-- Preloader -->
    <div class="loader-wrap">
        <div class="preloader">
          <!-- <div class="preloader-close">Preloader Close</div> -->
        </div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>
        <div class="layer layer-three"><span class="overlay"></span></div>
    </div>

    <%- include("../components/header-white.ejs") %>


    <!-- news-section -->
    <section class="news-section blog-grid sec-pad">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box"><a href="/cases-odi"><img src="images/case-odi.png" alt=""></a></figure>
                            <div class="lower-content">
                                <h3><a href="/cases-odi">ODI</a></h3>
                                <p>是指我国企业、团体在国外及港澳台地区以现金、实物、无形资产等方式投资，并以控制国（境）外企业的经营管理权为核心的经济活动。</p>
                                <div class="link"><a href="/cases-odi"><i class="fas fa-arrow-right"></i><span>详细阅读</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box"><a href="/cases-qflp"><img src="images/case-qflp.png" alt=""></a></figure>
                            <div class="lower-content">
                                <h3><a href="/cases-qflp">QFLP</a></h3>
                                <p>境外机构投资者在通过资格审批和其外汇资金的监管程序后，将境外资本兑换为人民币资金，投资于国内的PE（私募股权投资）以及VC（风险投资）市场。</p>
                                <div class="link"><a href="/cases-qflp"><i class="fas fa-arrow-right"></i><span>详细阅读</span></a></div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box"><a href="/cases-vie"><img src="images/case-international-public.png" alt=""></a></figure>
                            <div class="lower-content">
                                <h3><a href="/cases-vie">红筹外翻</a></h3>
                                <p>红筹上市是指中国公司主要运营资产和业务虽在中国境内，但间接以注册在境外离岸法域的离岸公司名义而在境外交易所挂牌交易的上市模式。</p>
                                <div class="link"><a href="/cases-vie"><i class="fas fa-arrow-right"></i><span>详细阅读</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box"><a href="/cases-cash-pooling"><img src="images/case-cash-pooling.png" alt=""></a></figure>
                            <div class="lower-content">
                                <h3><a href="/cases-cash-pooling">资金池</a></h3>
                                <p>资金池（Cash Pooling）也称现金总库。 最早是由跨国公司的财务公司与国际银行联手开发的资金管理模式，以统一调拨集团的全球资金，最大限度地降低集团持有的净头寸。</p>
                                <div class="link"><a href="/cases-cash-pooling"><i class="fas fa-arrow-right"></i><span>详细阅读</span></a></div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box"><a href="/cases-other"><img src="images/case-other.png" alt=""></a></figure>
                            <div class="lower-content">
                                <h3><a href="/cases-other">其他</a></h3>
                                <p>海外投资的种类一般有以下几种：海外房产、外汇存款、海外保险、股票、债券、VC/PE、理财产品、境外公司、艺术品、期货、QDII等。 不同产品匹配不同的需求与风险。</p>
                                <div class="link"><a href="/cases-other"><i class="fas fa-arrow-right"></i><span>详细阅读</span></a></div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-lg-4 col-md-6 col-sm-12 news-block">
                    <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <figure class="image-box"><a href="/cases-privatization"><img src="images/case-other.png" alt=""></a></figure>
                            <div class="lower-content">
                                <h3><a href="/cases-privatization">境外上市公司私有化</a></h3>
                                <p>海外投资的种类一般有以下几种：海外房产、外汇存款、海外保险、股票、债券、VC/PE、理财产品、境外公司、艺术品、期货、QDII等。 不同产品匹配不同的需求与风险。</p>
                                <div class="link"><a href="/cases-privatization"><i class="fas fa-arrow-right"></i><span>详细阅读</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- news-section end -->

    <%- include("../components/footer.ejs") %>

    <!--Scroll to top-->
    <button class="scroll-top scroll-to-target" data-target="html">
        <span class="fa fa-arrow-up"></span>
    </button>

    <%- include("../components/sidebar.ejs") %>



<!-- jequery plugins -->
<script src="js/jquery.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/validation.js"></script>
<script src="js/jquery.fancybox.js"></script>
<script src="js/appear.js"></script>
<script src="js/jquery.countTo.js"></script>
<script src="js/scrollbar.js"></script>
<script src="js/nav-tool.js"></script>
<script src="js/TweenMax.min.js"></script>
<script src="js/circle-progress.js"></script>
<script src="js/jquery.nice-select.min.js"></script>

<!-- main-js -->
<script src="js/script.js"></script>

</body><!-- End of .page_wrapper -->
</html>
